@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* Special ------------------ */

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montseraat", sans-serif;
    font-weight: 500;
}

/* Containers ------------------ */

main {
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
}    

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
}

/* Image ------------------ */

.img {
    width: 35rem;
}

img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

/* Text Content ------------------ */

.text-content { 
    width: 29.6rem;
    padding: 2rem;
}

p:first-child {
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    color:  hsl(228, 12%, 48%);
    font-size: 1.4rem;
}

h1 {
    font-size: 2.6rem;
    margin: 1.5rem 0; 
    font-family: "Fraunces", sans-serif;
    color: hsl(212, 21%, 14%); 
}

.discription {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    color:  hsl(228, 12%, 48%);
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
}

strong {
    font-family: "Fraunces", sans-serif;
    color: hsl(158, 36%, 37%);
    font-size: 3.3rem;
}

sup {
    padding-left: 1.5rem;
    font-size: 1.4rem;
    color:  hsl(228, 12%, 48%);
}

button {
    width: 31rem;
    padding: 1.5rem;
    margin-top: 2rem;
    background-color: hsl(158, 36%, 37%);
    border-radius: 1rem;
    color: hsl(0, 0%, 100%);
}

button span {
    padding-left: 0.5rem;
    font-weight: 700;
    font-size: 1.4rem;
}

/* Media Queries ----------------- */

@media screen and (min-width: 700px) {
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .text-content {
        width: 24rem;
        margin: 3rem;
    }

    h1 {
        margin: 3rem 0;
    }

    .discription {
        margin-bottom: 3rem;
    }

    button {
        width: 100%;
        margin-top: 3rem;
    }

    img {
        visibility: hidden;
    }

    .img {
        background-image: url(../images/image-product-desktop.jpg); 
        background-size: cover;
        border-radius: 1rem 0px 0 1rem;
    }
}

